body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(45.38deg, #115DA3 0.65%, #4ECFED 100%);
  background-attachment: fixed;
  height: 100%;
}

.app {
  margin: 0 auto;
  padding: 0 10%;
}

img{
  width: 45px;
}

h1{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  margin-bottom: 0px;
  color: white;
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin: 8px 0px;
}

header{
  text-align: center;
  margin-top: 15%;
}

img.location {
  width: 12px;
  margin-right: 8px;
}

.container{
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.203436);
  border-radius: 3px;
  margin: 5% auto 25% auto;
  position: relative;
}

.decorCloud{
  top: 50px;
  width: 140px; 
  right: -40px; 
  position: absolute;
  z-index: 100;
}

.decorCloud1{
  top: 120px;
  width: 130px; 
  left: -40px; 
  position: absolute;
  z-index: 101;
}

.upper{
  background: #D9FBFF;
  background-image: url(/src/images/Dallas_full.svg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size:cover; 
  box-shadow: 0px 0px 15px rgba(0,0,0,0.203436);
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.currentForecast{
  order: 2;
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 100%;
}

.currentForecast p{
  color: #65AED5;
  font-weight: 600;
  line-height: 10px;
}

.currentTemp p {
  font-weight: 400;
}

.currentTemp{
  font-size: 48px;
  margin: 4px 12px 4px 12px;
  flex-basis: 100%;
  text-align: center;
}

.currentDescription{
  align-content: center;
  margin: 4px 0px;
  flex-basis: 100%;
  text-align: center;
}

.toggleButton{
  order: 1;
  margin: 12px 12px 0px 12px;
  flex-basis: 100%;
  display: flex;
  justify-content: right;
}

.forecastWeek{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.forecastDay{
  flex: 1 1 auto;
  padding: 12px;
  text-align: center;
  border-bottom: solid 1px #D8D8D8;
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forecastDay img{
  width: 30px;
}

.forecastDay h2{
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #4a4a4a;
  margin: 8px 0px;

}

.forecastDay h3{
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #4a4a4a;
  margin: 0px;
  position: relative;
  left: 5px;
}





/* TABLET & DESKTOP */
@media screen and (min-width: 834px) {

  header{
    margin-top: 10%;
  }
  
  .container{
    max-width: 800px;
    margin: 3% auto 15% auto;
  }
  
  .decorCloud{
    width: 210px; 
    right: -80px; 
  }
  
  .decorCloud1{
    width: 190px; 
    left: -80px; 
  }
  
  .upper{
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
  }
  
  .currentForecast{
    order: initial;
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: initial;
    flex-basis: initial;
  }
  
  .currentTemp{
    font-size: 48px;
    margin: 24px 16px 24px 24px;
    flex-basis: initial;
    text-align: initial;
  }
  
  .currentDescription{
    align-content: center;
    margin: 24px 0px;
    flex-basis: initial;
    text-align: initial;
  }
  
  .toggleButton{
    margin: 24px;
    order: initial;
    flex-basis: initial;
    display: initial;
    justify-content: initial;
  }
  
  .forecastWeek{
    display: flex;
    flex-flow: initial;
    margin: initial;
  }
  
  .forecastDay{
    padding: 16px;
    border-left: solid 1px #D8D8D8;
    flex-basis: initial;
    display: initial;
    justify-content: initial;
    align-items: initial;
  }
  
  .forecastDay img{
    width: initial;
  }

  .forecastDay h2{
    font-size: 14px;
  }

}