body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;;
  background: linear-gradient(45.38deg, #115DA3 0.65%, #4ECFED 100%);
}

.app {
  margin: 0 auto;
  padding: 0 10%;
}

img{
  width: 45px;
}

h1{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  margin-bottom: 0px;
  color: white;
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin: 8px 0px;
}

header{
  color: white;
  text-align: center;
  margin-top: 10%;
}

img.location {
  width: 12px;
  margin-right: 8px;
}

.container{
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.203436);
  border-radius: 3px;
  margin: 3% auto 15% auto;
  position: relative;
  max-width: 800px;
}

.decorCloud{
  top: 60px;
  width: 210px; 
  right: -80px; 
  position: absolute;
  z-index: 100;
}

.decorCloud1{
  top: 120px;
  width: 190px; 
  left: -90px; 
  position: absolute;
  z-index: 101;
}


.upper{
  background: #D9FBFF;
  background-image: url(/src/images/Dallas_full.svg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size:cover; 
  box-shadow: 0px 0px 15px rgba(0,0,0,0.203436);
  height: 400px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.currentForecast{
  align-self: flex-start;
  display: flex;
}

.currentForecast p{
  color: #65AED5;
  line-height: 10px;
}

.currentTemp{
  font-size: 48px;
  margin: 24px 16px 24px 24px;
}

.currentDescription{
  align-content: center;
  margin: 24px 0px;

}

.toggleButton{
  margin: 24px;
}

.forecastWeek{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forecastDay{
  flex: 1 1 auto;
  padding: 16px;
  text-align: center;
  border-left: solid 1px #D8D8D8;
}

.forecastDay h2{
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #4a4a4a;
  margin: 0px 0px 8px 0px;

}

.forecastDay h3{
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #4a4a4a;
  margin: 0px;
  position: relative;
  left: 5px;
}